html, body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, span, h3 {
  margin: 0;
}

img {
  height: 300px;
  width: 200px;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
}

hr {
  margin-left: 20px;
  width: 74.5%;
}

header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  height: 15%;
  width: 90%;
  margin: 0 auto;
}

.accordion_tabs_header {
  width: 90%;
  margin: 0 auto;
}

.accordion_tabs_header_content {
  display: inline-block;
}

.accordion_container {
  width: 80%;
  margin: 0 auto;
}

.accordion_tabs {
  display: flex;
}

.accordion_contents {
  display: flex;
	margin: 0 auto;
}

.accordion_header {
	cursor: pointer;
  padding: 1.5rem;
  background-color: goldenrod;
}

.accordion_header:hover {
	background: purple;
}

.accordion_content_flex {
  display: flex;
}

.accordion_content {
	display: none;
	padding: 1.5rem;
}

.tab_one_img {
  background-image: url('./images/icons8-gorilla-100.png');
}

.accordion_header::before {
  background-color: lime
}

.active.accordion_header::before {
	background-color: #FC6468;
}

.view_accordion_tabs_code {
  width: 10%;
}